<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Sayfası</title>

    @await Html.PartialAsync("_LayoutCssPartial")

</head>

<body id="page-top" class="loading-gif">

    <!-- Page Wrapper -->
    <div id="wrapper">

        @await Component.InvokeAsync("AdminMenu")

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                @await Component.InvokeAsync("TopBar")

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            @await Html.PartialAsync("_LayoutFooterPartial")

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @await Html.PartialAsync("_LayoutLogOutPartial")
    @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("scripts", false)

    <script type="text/javascript">
        $(document).ready(function() {
            $(".notification").click(function() {
                const notificationLinks = $(".notificationCounter");
                if (notificationLinks.length > 0) {
                    const actionUrl = '@Url.Action("UpdateRead","Home")';
                    $.post(actionUrl).done(function(data) {
                        $(".notificationCounter").empty();
                    });
                }
            });
        });
    </script>


</body>

</html>