@using WebUI.Models
@model NavbarModel
@{
    var user = Model.User;
}

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" asp-action="Index" asp-controller="Home">
            <img src="~/Main/img/brand.png" alt="site icon">
            <span class="text-uppercase fw-lighter ms-2">Rent A Car</span>
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-lg-1" id="navMenu">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" asp-action="Index" asp-controller="Home">Ana Sayfa</a>
                </li>                
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="#special">Hakkımızda</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" asp-action="Cars">Arabalar</a>
                </li>
                <li class="nav-item px-2 py-2 border-0">
                    <a class="nav-link text-uppercase text-dark">Siparişlerim</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" asp-action="Comments">Yorumlar</a>
                </li>
            </ul>
            @if (user == null)
            {
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" asp-area="Admin" asp-controller="User" asp-action="AddForUser" >Kayıt Ol</a>
                    </li>
                    <li class="nav-item px-2 py-2 border-0">
                        <a class="nav-link text-uppercase text-dark" asp-area="Admin" asp-controller="User" asp-action="UserLogin">Giriş Yap</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto text-center">
                    <div class="dropdown">
                        <button type="button" class="btn position-relative mt-2" data-bs-toggle="dropdown">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge bg-primary basket-Count"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="BasketList">Detay</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn position-relative dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle" style="object-fit:contain; width:30px;"
                             src="~/Admin/dz-img/user-img/@user.Image">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="BasketList">Sepetim</a></li>
                            <li><a class="dropdown-item" href="#">Siparişlerim</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Profile Git</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="UserLogout">Çıkış Yap</a></li>
                        </ul>
                    </div>
                </ul>
            }
        </div>
    </div>
</nav>
<!-- end of navbar -->