@using Entity.Concrete
@{
    var cars = ViewBag.PageState as IList<Car>;
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-light shadow p-5" role="alert">
                <h4><i class="fa-solid fa-basket-shopping"></i> Sepetim</h4>
                <div class="row">
                    @foreach (var car in cars)
                    {
                        <div class="col-12">
                            <div class="row mt-3">
                                <div class="col-lg-3">
                                    <img src="https://www.media.stellantis.com/cache/f/8/2/a/2/f82a22b3b2325a614c174d9f524b906a2216f9e5.jpeg"
                                     class="img-thumbnail" style="object-fit:contain;" />
                                </div>
                                <div class="col-lg-3 mt-3 mt-lg-0">
                                    <span style="color: #e5345b;">Model: </span> <span>Hyundai i20</span>
                                    <br />
                                    <span style="color: #e5345b;">Marka: </span> <span>Hyundai</span>
                                </div>
                                <div class="col-lg-3">
                                    <p>
                                        <span style="color: #e5345b;">Araç Özellikleri:</span> <br />
                                        Çıkış Tarihi: 2022 <br />
                                        Vites Türü: Otomatik <br />
                                        Yakıt Türü: Dizel <br />
                                        Kasa Tipi: Hatchback <br />
                                        Açıklama: Aile arabası hızlıdır.
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <span style="color: #e5345b;">Günlük Ücret: </span> <span>345₺</span>
                                    <div class="mt-3"></div>
                                    <button class="btn btn-danger me-2 counter-minus">-</button>
                                    <span class="daily-counter">1</span>
                                    <button class="btn btn-success ms-2 counter-plus">+</button>
                                </div>
                                <div class="offset-lg-9 col-lg-3 mt-3 mt-lg-2">
                                    <span style="color: #e5345b;">Toplam Ücret: </span> <span class="total-price">345₺</span>
                                </div>
                                <div class="offset-lg-9 col-lg-3 mt-3 mt-lg-2">
                                    <button class="btn btn-danger me-1">İptal Et</button>
                                    <button class="btn btn-success ms-1">Sipariş Ver</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".counter-plus").click(function() {
                let counter = $(".daily-counter").text();
                counter = parseInt(counter);
                if (counter < 8) {
                    counter++;
                    let totalPrice = $(".total-price").text();
                    totalPrice = parseInt(totalPrice);
                    totalPrice += 345;
                    $(".total-price").text(totalPrice + "₺");
                }
                $(".daily-counter").text(counter);
            });
            $(".counter-minus").click(function() {
                let counter = $(".daily-counter").text();
                counter = parseInt(counter);
                if (counter > 1) {
                    counter--;
                    let totalPrice = $(".total-price").text();
                    totalPrice = parseInt(totalPrice);
                    totalPrice -= 345;
                    $(".total-price").text(totalPrice + "₺");
                }
                $(".daily-counter").text(counter);
            });
        });
    </script>
}