<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rent A Car</title>
    @await Html.PartialAsync("_LayoutCssPartial")
</head>

<body class="loading-gif">

    @await Component.InvokeAsync("Navbar")
  
    @RenderBody()

    <!--Footer-->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <div class="row border-bottom">
                <div class="col-lg-6">
                    <h6>İkitelli Şubesi Şubemiz:</h6>
                    <p>
                        Ay Mahallesi Duman Yıldız Sokak 1/28
                        <br />Küçükçekmece/İstanbul
                    </p>
                    <h6>Telefon Numaramız:</h6>
                    <p>0212 999 99 99</p>
                </div>
                <div class="col-lg-6" style="position:relative;">
                    <div style="position:absolute; right:10px; bottom:10px;font-size:20px;">
                        <i class="fa-brands fa-facebook me-1"></i>
                        <i class="fa-brands fa-instagram me-1"></i>
                        <i class="fa-brands fa-twitter me-1"></i>
                    </div>
                </div>
            </div>
            <p class="text-center text-muted">© 2022 Deniz Yazılım</p>
        </footer>
    </div>
    <!--End of footer-->
   
    
    @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("scripts", false)
</body>

</html>