@using Entity.Concrete
@using Entity.Concrete.DTOs
@using Shared.Utilities.Results.ComplexTypes
@model UserUpdateDto

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"><i class="fas fa-edit"></i> Üye Düzenle</h5>
                <button type="button" class="close cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" id="form-update" enctype='multipart/form-data'>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display:none;"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label style="color:black;" asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName" type="text" placeholder="Kullanıcı adı giriniz..">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:black;" asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" type="email" placeholder="Geçerli e-posta giriniz..">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:black;" asp-for="PhoneNumber"></label>
                        <input class="form-control" asp-for="PhoneNumber" type="text" placeholder="Telefon numarası giriniz..">
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:black;" asp-for="Image"></label>
                        <img class="img-fluid img-thumbnail" style="width:150px; object-fit:contain;" 
                        src="~/Admin/dz-img/user-img/@Model.Image" alt="@Model.UserName">
                    </div>
                    <div class="form-group">
                        <label style="color:black;" asp-for="PictureFile"></label>
                        <input class="form-control-file" asp-for="PictureFile" type="file" accept="image/*">
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel">Kapat</button>
                <button type="button" class="btn btn-primary save">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".cancel").click(function() {
            $(".modal").hide("slow");
        });
    });
</script>