@{
    Layout = null;
}
@using Entity.Concrete
@using Entity.Concrete.DTOs
@using Shared.Utilities.Results.ComplexTypes
@model UserAddDto

@await Html.PartialAsync("_LayoutCssPartial")


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form asp-action="AddForUser" id="form-add" enctype='multipart/form-data'>
                            <div class="form-group row">
                                <label style="color:black;" asp-for="UserName"></label>
                                <input class="form-control" asp-for="UserName" type="text" placeholder="Kullanıcı adı giriniz..">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group row">
                                <label style="color:black;" asp-for="Email"></label>
                                <input class="form-control" asp-for="Email" type="email" placeholder="Geçerli e-posta giriniz..">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group row">
                                <label style="color:black;" asp-for="Password"></label>
                                <input class="form-control" asp-for="Password" type="password" placeholder="Şifre giriniz..">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group row">
                                <label style="color:black;" asp-for="PhoneNumber"></label>
                                <input class="form-control" asp-for="PhoneNumber" type="text" placeholder="Telefon numarası giriniz..">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group row">
                                <label style="color:black;" asp-for="PictureFile"></label>
                                <input class="form-control-file" asp-for="PictureFile" type="file" accept="image/*">
                                <span class="text-danger" asp-validation-for="PictureFile"></span>
                            </div>
                            <a class="btn btn-primary btn-user btn-block save">
                                Register Account
                            </a>
                            <hr>
                            <a class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@await Html.PartialAsync("_LayoutJsPartial")

<script type="text/javascript">
    $(document).ready(function() {
    @* ajax post işlemi *@
            $(".save").click(function(e) {
                e.preventDefault(); // kendi click eventi çalışmayacak hale gelir.
                const form = $("#form-add");
                const actionUrl = form.attr('action');
                //const dataToSend = form.serialize(); form file lar bu şekilde gitmiyor
                const dataToSend = new FormData(form.get(0));
                $.ajax({
                    url: actionUrl,
                    type: 'POST',
                    data: dataToSend,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        const userAddAjaxModel = jQuery.parseJSON(data);
                        const newFormBody = $('.modal-body', userAddAjaxModel.UserAddPartial); // render edilmiş modal
                        $(".modal-body").replaceWith(newFormBody); //rende edilmiş modal ile değişiklik
                        const isValid = newFormBody.find('[name="IsValid"]').val() === 'True';
                        if (isValid) {
                            toastr.success(`${userAddAjaxModel.UserDto.Message}`, 'Başarılı İşlem');
                        }
                        else {
                            toastr.error(`${userAddAjaxModel.UserDto.Message}`, 'Başarısız İşlem');
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });
    });
</script>