@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body {
    font-family: var(--sm-font);
}

/* button */
.bg-primary {
    background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

    .btn:not(.nav-btns button):hover {
        background-color: var(--pink);
        color: #fff;
        border-color: var(--pink);
    }

/* text color */
.text-primary {
    color: var(--pink) !important;
}

/* navbar */
.navbar {
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--pink) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}


/***/
.carousel-item img{
    width:100%;
    height: 800px;
    object-fit:cover;
}


/**Iso tope*/
.container{
    width: 90%;
    margin: 10px auto;
}
.portfolio-menu{
    text-align:center;
}
.portfolio-menu ul li{
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid tomato;
    cursor: pointer;
    transition: all .5s ease;
}
.portfolio-menu ul li:hover{
    background: tomato;
    color: #ffffff;
}
.portfolio-item{
    width: 100%;
}
.portfolio-item .item{
    width: 303px;
    float: left;
    margin-bottom: 10px;
}



/* media queries */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}
@media(max-width: 992px){
    .carousel-item img{
        height:500px;
    }
}